.nomePagina {
    text-align: center;
    color: gray;
    padding-top: 24px;
    margin-bottom: 2%;
    margin-top: 1%
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

