.Principal{
    background: white;
}


p {
    
     text-align: start;
     font-family: 'Comfortaa', cursive;
    }

b { 
    font-weight:bold;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    padding: 11px;
}

h3 h4 {
    padding-top: 24px;
}


