
.res{
    background-color: #ffcedf57;
    font-family: 'Dancing Script', cursive;
    display: flex;
    height: 100%;
    width: 100%;   
}

.res {
    background-color: #ffcedf57;
    font-family: 'Dancing Script', cursive;
    display: flex;
    height: 100%;
     width: 100%; 
}




/* <!-- RESUMO --> */
.resumo1 {
    padding-top: 20px;
    text-align: center;
    font-size: 22px;
}

.checkoutResumo {
    display: flex;
    font-size: 14px;
    line-height: 2;
}

.checkoutEntrega {
    font-size: 15px;
}
.col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.resumo{
    background-color: #ffffff;
    width: 100%;
    margin: 20px 15px 0px 15px;
    padding: 8px 0px 0px 20px;
    height: 40px;
 
}

.resumo2{
    background-color: #ffffff;
    width: 100%;
    margin: 5px 15px 0px 15px;
    padding: 4px 0px 0px 20px;
    height: 100%;
}

.resumo3{
    background-color: #ffffff;
    width: 100%;
    margin: 5px 15px 0px 15px;
    padding-left: 20px;
    
}

.resumo3 li{
    margin-top: 10px;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}




/* <!-- FINAL RESUMO --> */
.formEntrega{
    background-color: white;
    width: 30%;
    padding: 20px;
    height: 100%;
    margin: 20px 0px 10px 0px;
}
.formPagamento {
    background-color: white;
    width: 30%;
    padding: 20px;
    height: 735px;
    margin: 20px 0px 10px 10px;
}

.checkout {
    background-color: white;
    height: 735px;
    width: 30%;
    margin: 20px 0px 5px 10px;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}